@using FoossballPlayars.QueryContext
@model IEnumerable<PlayarStatisistics>
<h2>
    Players</h2>
<table>
    <thead>
        <tr>
            <th>
                Playar
            </th>
            <th>
                Score
            </th>
			<th>
				Winning
			</th>
             <th>
                Games Played
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playarScore in Model)
        {
            <tr>
                <td>@Html.ActionLink(playarScore.Name.ToString(), "GetScoreHistory", "Home", new { id = playarScore.Id }, null)
				</td>
                <td>@playarScore.Score
                </td>
				<td>@playarScore.Total.WinPercentage %
				</td>
                <td>@playarScore.Total.GamesPlayed
                </td>
            </tr>
        }
    </tbody>
</table>
